.experience-heading {
  text-align: center;
  padding-top: 10rem;

}

.experience-heading h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 3rem;

}

.experience-details h3 {
  font-size: 1.5rem;
}

.experience-details p {
  font-size: 1rem;
  padding-top: 2rem;  
  padding-bottom: 15rem;

}

.experience-details {
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  list-style: none;

}

.experience-all {
  display: flex;
  flex-direction: row;
  height: 5px;

}


@media (max-width:1000px) {
  .experience-all {
    display: flex;
    flex-direction:column;
    height: 5px;
  }

  .experience-details p {
    font-size: 1rem;
    padding-top: 2rem;  
    padding-bottom: 3rem;
  
  }
}
